* {
  box-sizing: border-box;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  
  /* font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif; */
  font-family: "Source Sans Pro",Arial,sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(13,13,13);
  
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  
}
